.container{
    display: grid;
    grid-template-rows: 120px 1700px 100px;
    font-family: sans-serif;
    font-size: 0.8em;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
}

a{text-decoration: none;}


/* header */
header{
    display: grid;
    grid-template: 1fr 1fr /  minmax(960px, 1fr) 120px; 
}

.box1{
    background-color: #f9f9f9;
}

.a1{height: 80px;}

form{
    width: 630px;
    position: relative;
    top: -25px;
    left: 155px;
}

input{
    width: 630px;
    height: 45px;
    padding: 20px;
    font-size: 1.2em;
}

.googlelogo{
    position: relative;
    top: 20px;
    left: 15px;
}

.voice{
    position: relative;
    bottom: 35px;
    left: 550px;
    
}

.search{
    position: relative;
    bottom: 35px;
    left: 568px;
}

.b1{}

.apps{
    position: relative;
    top: 35px;
}

.sign-in{
    position: relative;
    top: 33px;
    left:  15px;
    border: 1px solid black;
    padding: 5px;
}

.c1 a{
    padding: 15px;
    position: relative;
    left: 150px;
}

.c1 a:first-of-type{
    border-bottom: 3px solid blue;
}

#settings{
    position: relative;
    left: 220px;
}

#tools{
    position: relative;
    left: 220px;
}


/* section */
section{
    display: grid;
    grid-template-rows: repeat(16, auto);
    margin-left: 170px;
    width: 570px;
    line-height: 1.4em;
    grid-gap: 25px;
}

.seconds{
    position: relative;
    top: 10px;
   
    display: inline;
    height: 20px;
}

.result{
    border: 1px solid grey;
    width: 600px;
    padding: 15px;
    padding-right: 0px;
    font-size: 1.2em;
    margin-left: -13px;
}

.result p:first-of-type{
    font-weight: bold;
}

.result ol{
    padding: 0px;
    margin-left: 16px;
}

.about{
    position: relative;
    left: 400px;
    top: -20px;
}

.about a{
    padding: 10px;
}

.links a{
    font-size: 1.4em;
}

.links p:first-of-type{
    color: green;
}

.griiid{
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
}

.omotac{
    border: 1px solid black;
    margin-left: -13px;
}

.gore{padding: 10px;}

.dole{
    border-top: 1px solid black;
    padding: 10px;
}

.pvideo{
    position: relative;
    left: 130px;
    top: -72px;
    width: 450px;
}

.height{height: 90px;}

.height img{
    padding-top: 7px;
}

.related{
    font-size: 1.4em;
}

.griiiid{
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, 250px);
    font-size: 1.2em;
    grid-gap: 5px;
}

.opetgrid{
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    position: relative;
    left: 100px;
    width: 300px;
}

.linkovi {
    display: grid;
    grid-gap: 0.5px;
    grid-template-columns: repeat(10, 20px);
    position: relative;
    left: 44px;
    top: -40px;
    width: 250px;
}

.linkovi a{
    height: 64px;
    display: grid;
    align-content: end;
    justify-content: center;
}

.linkovi a:hover{
    border-bottom: 2px solid blue;
}

.opetgrid a img{
    position: relative;
    top: 15px;
}

.opetgrid span{
    position: relative;
    top: 3px;
}

/* footer */
footer{
    background-color: #f9f9f9;
    font-size: 1.1em;
    color: darkgray;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    
}

footer div{
    position: relative;
    left: 200px;
    width: 600px;
}

footer div:last-of-type a{
    padding-right: 10px;
    
}

